*{
    margin: auto;
    padding: auto;
}

body{
    margin-top: 0px;
    background-color: 	#F0FFFF;
}

body .imagem{        
    display: flex;
    align-items: center;
    background-image: linear-gradient(#f3f3f3, #e2e2e2);
    height: 70px;
}

.footer{
    height: 50px;
    width: 100%;
    background-color: #282a2b;
}

nav{
    background-color: #2196f3      ;
}

.pagination li.active{
    background-color: #2196f3;
}

#title{
    margin: 10% 0 4% 0;
}